.Note {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
 }
 .NotePaper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 100px;
 }
 .NotePaper:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }
 #title {
    padding: 30px 20px 0px 30px;
    font-weight: bold;
    font-size: 30px;
 }
 #content {
    font-size: 20px;
    padding: 0px 20px 20px 30px;
 }
 #timestamp {
    font-size: 10px;
    padding: 0px 20px 20px 30px;
 }